*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-areas: 
    "div1 div2 div3"
    "div4 div5 div6";
    gap: 42px 84px;
    margin: 100px 50px
}

div {
    height: 100px;
    width: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 12px;
    transition: all 1s 0.2s ease-in-out;
}

div:nth-child(1):hover {
    transform: translate(30%, 30%);
}
div:nth-child(2):hover {
    transform: translateX(-30%);
}
div:nth-child(3):hover {
    transform: translateY(30%);
}
div:nth-child(4):hover {
    transform: rotateZ(45deg);
}
div:nth-child(5):hover {
    transform: scale(1.25, 1.75)
}
div:nth-child(6):hover {
    transform: skew(45deg)
}
