* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100vh;
    background-color: black;
}

div {
    background-color: red;
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

div:nth-child(1){
    animation: wave 4s linear 0s infinite forwards;
}
div:nth-child(2){
    animation: wave 4s linear 1s infinite forwards;
}
div:nth-child(3){
    animation: wave 4s linear 2s infinite forwards;
}
div:nth-child(4){
    animation: wave 4s linear 3s infinite forwards;
}
div:nth-child(5){
    animation: wave 4s linear 4s infinite forwards;
}
div:nth-child(6){
    animation: wave 4s linear 5s infinite forwards;
}
div:nth-child(7){
    animation: wave 4s linear 6s infinite forwards;
}
div:nth-child(8){
    animation: wave 4s linear 7s infinite forwards;
}

@keyframes wave {
    0% {
        transform: translate(0);
        background-color: red;
        box-shadow: 8px 8px 32px 8px white;
    }
    12.5% {
        transform: translate(0, 50%);
        background-color: yellow;
        box-shadow: -8px 8px 32px -8px white;
    }
    25% {
        transform: translate(0, 100%);
        background-color: purple;
        box-shadow: -8px -8px 32px 8px white;
    }
    37.5% {
        transform:translate(0, 50%);
        background-color: blue;
        box-shadow: -16px 8px 32px 16px white;
    }
    50%{
        transform: translate(0, 0%);
        background-color: green;
        box-shadow: 8px 8px 32px 32px white;
    }
    62.5%{
        transform: translate(0, -50%);
        background-color: aquamarine;
        box-shadow: 8px -8px 32px -16px white;
    }
    75%{
        transform: translate(0, -100%);
        background-color: orange;
        box-shadow: -8px 8px 32px 16px white;
    }
    87.5%{
        transform: translate(0, -50%);
        background-color: black;
        box-shadow: -8px 16px 32px 16px white;
    }
    100%{
        transform: translate(0,0);
        background-color: greenyellow;
        box-shadow: 16px 16px 24px -8px white;
    }
}